@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1000px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 35px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

:root {
  --font-family-base: "Noto Sans JP", sans-serif;
  --font-family-second: "Noto Sans", "Noto Sans JP", sans-serif;
  --font-family-third: "gill-sans-nova", "Noto Sans", "Noto Sans JP", sans-serif;
  --font-family-fourth: "dnp-shuei-gothic-gin-std", "Noto Sans", "Noto Sans JP", sans-serif;
}
// ※検証ツールでしっかり反映されているか確認する


// フォントウェイトsecond
:root {
  --font-weight-regular: 400;
  --font-weight-normal: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
:root {
  --black: #000;
  --white: #fff;
  --main-orange: #EE8A43;
  --main-blue: #036EB8;
  --main-yellow: #FCBF42;
  --main-pink: #F9B1BF;
  --main-beige: #DFDBBB;
  --main-green: #428B8D;
  --bg-pink: rgba(249, 177, 191, 0.40);
  --bg-beige: rgba(223, 219, 187, 0.85);
  --bg-green: rgba(66, 139, 141, 0.75);
  --bg-orange: rgba(238, 138, 67, 0.20);
  --bg-blue: rgba(3, 110, 184, 0.20);
  --bg-gray: #EDEBDC;
}

////////////////////
// z-index
///////////////////

:root {
  --z-index-opening: 100;
  --z-index-header: 200;
  --z-index-to-top: 200;
  --z-index-float-btn: 300;
  --z-index-drawer: 1000;
  --z-index-modal: 10000;
}

////////////////////
// レスポンシブ
///////////////////
:root {
  --cq-ref-mobile: 390;
  --cq-ref: 1440;
  --fluid-basis-mobile: (100vw - 320px) / (390 - 320);
  --fluid-basis: (100vw - 768px) / (1440 - 768);
  --fluid-basis-2: (100vw - 1440px) / (1800 - 1440);
}

////////////////////
// アニメーション設定
///////////////////

:root {
  --duration-short: 0.2s;
  --duration-base: 0.3s;
  --duration-long: 0.6s;
  --duration-fv: 0.7s;

  --ease-smooth-bounce: cubic-bezier(.48, .07, .33, .79);
}

////////////////////
// bodyの指定
////////////////////

body {
  color: var(--black);
  font-family: var(--font-family-base);
}