@use "global"as *;

.footer {
  background-color: var(--main-blue);
  padding-block: rem(68) rem(70);

  @include mq('md') {
    padding-block: rem(60) rem(80);
  }
}

.footer__inner {
  max-width: 500px;
  margin-inline: auto;
  padding-inline: rem(26);

  @include mq('md') {
    padding-inline: rem(35);
    max-width: calc(1200px + #{rem(70)});
  }
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: rem(29);

  @include mq('md') {
    gap: rem(55);
  }
}

.footer__top {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: rem(40);

  @include mq('md') {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer__nav {
  width: 100%;

  @include mq('md') {
    flex: 1;
    width: auto;
  }
}

.footer__nav-columns {
  display: flex;
  gap: rem(40);

  @include mq('md') {
    gap: rem(80);
  }
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: rem(17);

  @include mq('md') {
    gap: rem(20);
  }
}

.footer__nav-link {
  color: var(--main-white);
  font-family: var(--font-family-third);
  font-size: rem(16);
  font-weight: var(--font-weight-semibold);
  line-height: 0.9375;
  letter-spacing: 0.0625em;
  transition: color var(--duration-base) ease;

  @include mq('md') {
    font-size: rem(20);
    line-height: 1;
    letter-spacing: calc(2 / 20 * 1em);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--main-orange);
    }
  }
}

.footer__sns-list {
  display: flex;
  gap: rem(36);
  flex-shrink: 0;

  @include mq('md') {
    gap: rem(20);
  }
}

.footer__sns-item {
  display: block;
}

.footer__sns-link {
  display: block;
  width: rem(55);
  height: rem(55);
  background-color: var(--white);
  border-radius: 50%;
  transition: opacity var(--duration-base) ease;

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.footer__sns-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.footer__logo-wrap {
  display: block;
  width: 100%;
  max-width: rem(250);
  margin-inline: auto;
  transition: opacity var(--duration-base) ease;

  @media (max-width: 767px) {
    margin-top: rem(13);
  }

  @include mq('md') {
    max-width: rem(519);
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.footer__logo-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  gap: rem(33);

  @include mq('md') {
    gap: rem(30);
  }
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: #A9ADB0;
}

.footer__legal-links {
  display: flex;
  flex-direction: column;
  gap: rem(11);

  @include mq('md') {
    flex-direction: row;
    align-items: center;
    gap: rem(50);
  }
}

.footer__legal-link {
  color: #A9ADB0;
  font-family: var(--font-family-base);
  font-size: rem(12);
  font-weight: var(--font-weight-normal);
  line-height: 1.75;
  letter-spacing: 0.08333em;
  text-align: left;
  transition: opacity var(--duration-base) ease;

  @include mq('md') {
    text-align: center;
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}