@use "global"as *;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: var(--z-index-header);
  background: var(--white);
  height: rem(75);
  transition: background 0.8s ease;

  @include mq('md') {
    height: rem(105);
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-inline: rem(17);

  @include mq('md') {
    padding-inline: clamp(10px, calc(10px + 110 * var(--fluid-basis)), 120px);
    margin-inline: auto;
  }
}

.header__nav-wrap {
  display: none;

  @include mq('md') {
    display: flex;
    align-items: center;
    gap: rem(47);
  }
}

.header__nav {
  @include mq('md') {
    height: 100%;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: rem(30);
}

.header__nav-link {
  font-size: clamp(10px, calc(10px + 6 * var(--fluid-basis)), 16px);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family-third);
  line-height: 1.6875;
  letter-spacing: calc(1 / 20 * 1em);
  text-transform: uppercase;
  transition: color var(--duration-base) ease;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      color: var(--main-blue);
    }
  }
}

.header__nav-link::before {
  content: '';
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-blue);
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform var(--duration-base) var(--ease-smooth-bounce);
}

.header__nav-link:hover::before {
  transform: scale(1, 1);
  transform-origin: left top;
}

.header__right-link-wrap {
  display: contents;

  @include mq('md') {
    display: flex;
    align-items: center;
    gap: rem(21);
    position: relative;
    z-index: var(--z-index-hamburger);
  }
}

.header__my-page-link {
  display: flex;
  align-items: center;
  gap: rem(3);
  transition: opacity var(--duration-base) ease;
  @media (max-width: 767px) {
    flex-direction: column-reverse;
    order: 1;
  }

  @include mq('md') {
    padding: rem(6) rem(13) rem(6) rem(33);
    border-radius: calc(infinity * 1px);
    border: 2px solid var(--main-blue);
    gap: rem(12);
  }
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.header__my-page-link-text {
  color: var(--main-blue);
  font-size: rem(12);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-third);
  line-height: 1;
  letter-spacing: calc(1 / 12 * 1em);

  @include mq('md') {
    font-size: clamp(12px, calc(12px + 7 * var(--fluid-basis)), 19px);
    letter-spacing: calc(1 / 19 * 1em);
  }
}

.header__my-page-link-icon {
  width: rem(29);
}

.header__my-page-link-icon-img {
  height: auto;
  object-fit: contain;
}

.header__logo-link {
  width: rem(95);
  transition: opacity var(--duration-base) ease;

  @media (max-width: 767px) {
    order: 2;
  }

  @include mq('md') {
    width: clamp(100px, calc(100px + 52 * var(--fluid-basis)), 152px);
    margin-inline: clamp(33px, calc(33px + 60 * var(--fluid-basis)), 93px) clamp(150px, calc(150px + 60 * var(--fluid-basis)), 270px);
  }

  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.header__logo-img {
  height: auto;
  object-fit: contain;
}

/* ===============================================
# ハンバーガー
=============================================== */

.header__hamburger-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(6);
  justify-content: center;
  background-color: var(--main-blue);
  border-radius: calc(infinity * 1px);
  transition: width var(--duration-short) ease;
  width: rem(38);
  aspect-ratio: 1 / 1;
  pointer-events: auto;
  position: relative;
  z-index: var(--z-index-hamburger);
  transition: background-color var(--duration-base) ease;

  @media (max-width: 767px) {
    order: 3;
  }

  @include mq('md') {
    width: rem(53);
    gap: rem(8);
  }
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--main-orange);
    }
  }

  span {
    width: rem(18);
    height: 2px;
    background: var(--black);
    transition: rotate .6s cubic-bezier(.23, 1, .32, 1), translate .6s cubic-bezier(.23, 1, .32, 1);
    border-radius: calc(infinity * 1px);

    @include mq('md') {
      width: rem(23);
    }
  }

  &.is-open {
    @media (max-width: 767px) {
      background-color: #DFDBBB;
    }

    span {
      width: rem(20);

      @include mq('md') {
        width: rem(22);
      }
    }

    span:nth-of-type(1) {
      rotate: 45deg;
      top: 50%;
      translate: 0 -50%;
      position: absolute;
    }

    span:nth-of-type(2) {
      rotate: -45deg;
      top: 50%;
      translate: 0 -50%;
      position: absolute;
    }
  }
}

body.is-hidden {
  overflow: hidden;
}