@use "global"as *;

.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: var(--z-index-header);
  background: var(--white);
  height: rem(75);
  transition: background  0.8s ease;
  @include mq('md') {
    height: rem(89);
  }
}

.header__nav-wrap {
@include mq('md') {
  display: flex;
  align-items: center;
  gap: rem(47);
}
}

.header__nav {
  @media (max-width: 767px) {
  display: none;
  }
@include mq('md') {
 height: 100%;
}
}

.header__nav-list {
  @include mq('md') {
  display: flex;
  align-items: center;
  gap: rem(49);
}
}

.header__nav-link {
  font-size: rem(20);
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family-third);
  line-height: 1.35;
  letter-spacing: calc(1 / 20 * 1em);
  text-transform: uppercase;
  transition: color var(--duration-base) ease;
  position: relative;
  @media (any-hover: hover) {
    &:hover {
      color: var(--main-blue);
    }
  }
}

html.is-opening .header__nav-link {
  color: var(--white);
}

.header__nav-link::before {
  content: '';
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-blue);
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform  var(--duration-base) var(--ease-smooth-bounce);
}

.header__nav-link:hover::before {
  transform: scale(1, 1);
  transform-origin: left top;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
padding-inline: rem(17);
  @include mq('md') {
    padding-inline: rem(30);
    max-width: 1060px;
    margin-inline: auto;
  }
}

.header__symbol-wrap {
  width: rem(38);
  transition: opacity var(--duration-base) ease;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.header__symbol-img {
  height: auto;
  object-fit: contain;
}

.header__logo-link {
width: rem(95);
transition: opacity var(--duration-base) ease;
@include mq('md') {
width: rem(121);
margin-right: rem(235);
}
@media (any-hover: hover) {
  &:hover {
    opacity: 0.7;
  }
}
}

.header__logo-img {
  height: auto;
  object-fit: contain;
}

/* ===============================================
# ハンバーガー
=============================================== */

.header-hamburger {
  position: fixed;
  top: rem(12);
  left: rem(12);
  z-index: var(--z-index-hamburger);

  @include mq('md') {
    display: none;
  }
}

.header__hamburger-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(6);
  justify-content: center;
  background-color: var(--main-blue);
  border-radius: calc(infinity * 1px);
  transition: width var(--duration-short) ease;
  width: rem(38);
  aspect-ratio: 1 / 1;
  pointer-events: auto;
  position: relative;
  @include mq('md') {
  width: rem(42);
  gap: rem(8);
  }

  span {
    width: rem(18);
    height: 1px;
    background: var(--black);
    transition: rotate var(--duration-short) ease, translate var(--duration-short) ease;
    border-radius: calc(infinity * 1px);
    @include mq('md') {
    width: rem(20);
    }
  }

  &.is-open {

    span {
      width: rem(20);
      background: var(--white);
      @include mq('md') {
      width: rem(22);
      }
    }

    span:nth-of-type(1) {
      rotate: 45deg;
      top: 50%;
      translate: 0 -50%;
      position: absolute;
    }

    span:nth-of-type(2) {
      rotate: -45deg;
      top: 50%;
      translate: 0 -50%;
      position: absolute;
    }
  }
}

html.is-opening .header__hamburger-btn {
  background-color: var(--white);
}
