@use "global" as *;

.section-title {
  font-family: var(--font-family-third);
  text-align: center;
  font-size: rem(35);
  font-weight: var(--font-weight-semibold);
  line-height: 0.77143;
  letter-spacing: calc(1 / 35 * 1em);
  @include mq('md') {
    font-size: rem(55);
    line-height: 1;
    letter-spacing: calc(1 / 55 * 1em);
  }
}

.js-section-title-split span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px) scale(1);
  will-change: opacity, transform;
}

.js-section-title-split.is-active span {
  animation: bounceIn 0.4s linear forwards;
  animation-delay: calc(0.05s * var(--index));
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(25px) scale(1);
  }
  40% {
    opacity: 1;
    transform: translateY(-8px) scale(1.1);
  }
  70% {
    transform: translateY(3px) scale(0.98);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
