@use "global" as *;


.sp-drawer {
  position: fixed;
  inset: 0;
  background: var(--main-blue);
  z-index: var(--z-index-drawer);
  overflow: auto;
  max-height: 0;
  transition: max-height .6s cubic-bezier(.23, 1, .32, 1);
  @include mq('md') {
    display: none;
  }
  &.is-open {
    max-height: 100%;
  }
}

.sp-drawer__content {
height: 100%;
padding-top: rem(30);
}

.sp-drawer__content-inner {
padding-inline: rem(58);
max-width: rem(450);
margin-inline: auto;
height: 100%;
}

.sp-drawer__content-logo-wrap {
width: rem(127);
margin-inline: auto;
}

.sp-drawer__content-logo-img {
height: auto;
object-fit: contain;
}

.sp-drawer__content-nav-wrap {
margin-top: rem(22);
}

.sp-drawer__content-nav-list {
display: flex;
flex-direction: column;
gap: rem(19);
}

.sp-drawer__content-nav-item {

}

.sp-drawer__content-nav-link {
  color: var(--white);
  font-family: var(--font-family-third);
  font-size: rem(21);
  font-weight: var(--font-weight-semibold);
  line-height: 1.04762;
  letter-spacing: calc(2 / 21 * 1em);
}

.sp-drawer__content-nav-sub-list {
display: grid;
grid-template-columns: repeat(3, auto);
row-gap: rem(5);
margin-top: rem(6);
}

.sp-drawer__content-nav-sub-item {

}

.sp-drawer__content-nav-sub-link {
  font-family: var(--font-family-third);
  font-size: rem(13);
  font-weight: var(--font-weight-semibold);
  line-height: 1.07692;
  letter-spacing: calc(1 / 13 * 1em);
}

.sp-drawer__content-nav-text {
  color: var(--black);
  font-family: var(--font-family-fourth);
  font-size: rem(12);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  letter-spacing: calc(1 / 12 * 1em);
  margin-top: rem(10);
}

.sp-drawer__content-sns-list {
display: flex;
gap: rem(21.7);
margin-top: rem(25);
}

.sp-drawer__content-sns-item {

}

.sp-drawer__content-sns-link {
width: rem(40);
}

.sp-drawer__content-sns-img {
height: auto;
object-fit: contain;
}

.sp-drawer__content-btn-wrap {
margin-top: rem(20);
padding-bottom: rem(41);
}

.sp-drawer__content-btn {
  font-family: var(--font-family-fourth);
  font-size: rem(16);
  font-weight: var(--font-weight-semibold);
  line-height: 0.75;
  letter-spacing: 1.2px;
  padding: rem(21.5) rem(64);
  border-radius: calc(infinity * 1px);
  width: 100%;
  text-align: center;
background: var(--main-yellow);
box-shadow: 0 2.667px 2.667px 0 rgba(0, 0, 0, 0.25);
}

