@use "global" as *;

.catch-the-groove {
  background-color: var(--bg-gray);
  padding-block: rem(60);

  @include mq('md') {
    padding-block: rem(90);
  }
}

.catch-the-groove__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(35);
}

.catch-the-groove__logo-wrap {
  width: 100%;
  max-width: rem(360);

  @include mq('md') {
    max-width: rem(661);
  }
}

.catch-the-groove__logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.catch-the-groove__text {
  font-family: var(--font-family-fourth);
  font-size: rem(17);
  font-weight: var(--font-weight-semibold);
  line-height: 1.70588;
  letter-spacing: calc(5.88 / 100 * 1em);
  text-align: center;
  color: var(--black);
  max-width: rem(360);
  width: 100%;

  @include mq('md') {
    font-size: rem(21);
    line-height: 1.80952;
    letter-spacing: calc(4.76 / 100 * 1em);
    max-width: rem(622);
  }
}

.catch-the-groove__btn-wrap {
display: flex;
justify-content: center;
width: 100%;
}