@use "global"as *;

.flow {
  padding-block: rem(70);
  background: url('../images/top/flow-bg.webp') repeat top center / auto;

  @include mq('md') {
    padding-block: rem(100) rem(80);
  }
}

.flow__inner {
  @include mq('md') {
    display: grid;
    grid-template-columns: 270fr 882fr;
    gap: rem(51);
  }
}

.flow__sidebar {
  @include mq('md') {
    position: sticky;
    top: rem(120);
    align-self: start;
  }
}

.flow__sidebar-inner {
  @include mq('md') {
    display: flex;
    flex-direction: column;
  }
}

.flow__title {
  text-align: center;
  font-family: var(--font-family-third);
  font-size: 40px;
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
  letter-spacing: calc(1 / 40 * 1em);

  @include mq('md') {
    font-size: rem(49);
    line-height: 1.53061;
    letter-spacing: calc(2 / 49 * 1em);
    text-align: left;
  }
}

.flow__lead {
  text-align: center;
  font-size: rem(19);
  font-weight: var(--font-weight-semibold);
  line-height: 1.57895;
  letter-spacing: calc(0.5 / 19 * 1em);
  margin-top: rem(15);

  @include mq('md') {
    font-size: rem(21);
    line-height: 1.95238;
    letter-spacing: calc(1 / 21 * 1em);
    margin-top: rem(10);
    text-align: left;
  }
}

.flow__img-wrap {
  margin-top: rem(40);
  width: 72%;

  @media (max-width: 767px) {
    margin-inline: auto;
  }

  @include mq('md') {
    margin-top: rem(63);
    width: rem(247);
  }
}

.flow__img {
  height: auto;
  object-fit: contain;
}

.flow__content {
  @include mq('md') {
    width: 100%;
  }
}

.flow__list {
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin-top: rem(39);

  @include mq('md') {
    margin-top: 0;
    gap: rem(20);
  }
}

.flow__item {
  display: flex;
  flex-direction: column;
  opacity: 0;
  translate: 0 20px;
  transition: opacity var(--duration-long) ease-in-out, translate var(--duration-long) ease-in-out;
}


.flow__list.is-active .flow__item{
  opacity: 1;
  translate: 0 0;

  &:nth-child(1) {
    transition-delay: 0.1s;
  }

  &:nth-child(2) {
    transition-delay: 0.3s;
  }

  &:nth-child(3) {
    transition-delay: 0.5s;
  }

  &:nth-child(4) {
    transition-delay: 0.7s;
  }
}

.flow__step {
  display: grid;
  grid-template-columns: max-content 1fr;
  border-radius: 20px;

  @include mq('md') {
    border-radius: 26.204px;
  }
}

.flow__step-num {
  border-radius: 20px 0 0 20px;
  background: rgba(66, 139, 141, 0.75);
  padding-inline: rem(28);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(2);

  @include mq('md') {
    border-radius: 26.204px 0 0 26.204px;
    padding-inline: rem(36);
  }
}

.flow__step-label {
  font-family: var(--font-family-third);
  text-align: center;
  font-size: rem(15.83);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  letter-spacing: calc(1.605 / 15.83 * 1em);

  @include mq('md') {
    font-size: rem(21);
    letter-spacing: calc(2.103 / 21 * 1em);
  }
}

.flow__step-count {
  font-family: var(--font-family-third);
  text-align: center;
  font-size: rem(39.94);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  letter-spacing: calc(1.605 / 39.94 * 1em);

  @include mq('md') {
    font-size: rem(53);
    letter-spacing: calc(2 / 53 * 1em);
  }
}

.flow__step-body {
  padding: rem(22) rem(20);
  background-color: var(--white);
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  gap: rem(7);

  @include mq('md') {
    border-radius: 0 26.204px 26.204px 0;
    padding: rem(32) rem(20) rem(31) rem(36);
    gap: rem(13);
  }
}

.flow__step-title {
  font-size: rem(18);
  font-weight: var(--font-weight-semibold);
  line-height: 1.27778;
  letter-spacing: calc(0.754 / 18 * 1em);

  @include mq('md') {
    font-size: rem(25);
    line-height: 1;
    letter-spacing: calc(1 / 25 * 1em);
  }
}

.flow__step-text {
  font-size: rem(14);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  letter-spacing: calc(1 / 14 * 1em);

  @include mq('md') {
    font-size: rem(18);
    line-height: 1.61111;
    letter-spacing: calc(1 / 18 * 1em);
  }
}

.flow__note {
  font-size: rem(11);
  font-weight: var(--font-weight-regular);
  line-height: 1.81818;
  letter-spacing: calc(1 / 11 * 1em);
  margin-top: rem(14);

  @include mq('md') {
    font-size: rem(12);
    line-height: 1;
    letter-spacing: calc(1 / 12 * 1em);
    margin-top: rem(20);
  }
}

.flow__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(28.64);
  height: rem(12.81);
  margin-inline: auto;
  background-color: #FCBF42;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  margin-top: rem(20);

  @include mq('md') {
    width: rem(38);
    height: rem(17);
  }
}

.flow__link-wrap {
  margin-top: rem(45);

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
  }

  @include mq('md') {
    margin-top: rem(92);
    margin-left: rem(78);
  }
}