@use "global" as *;

.flow {
  background-color: var(--bg-green);
padding-block: rem(60) rem(53);
@include mq('md') {
  padding-block: rem(70) rem(80);
}
}

.flow__lead {
  text-align: center;
  font-size: rem(19);
  font-weight: var(--font-weight-semibold);
  line-height: 1.57895;
  letter-spacing: calc(0.5 / 19 * 1em);
  margin-top: rem(30);
  @include mq('md') {
    font-size: rem(25.14);
    letter-spacing: calc(0.662 / 25.14 * 1em);
    margin-top: rem(40);
  }
}

.flow__img-wrap {
  margin-inline: auto;
  margin-top: rem(35);
  width: 75%;
  @include mq('md') {
  width: rem(365.55);
  margin-top: rem(46);
  }
}

.flow__img {
  height: auto;
  object-fit: contain;
  aspect-ratio: 27/28;
}

.flow__list {
  display: flex;
  flex-direction: column;
  gap: rem(35);
  margin-top: rem(42);
  @include mq('md') {
    margin-top: rem(60);
    gap: rem(56);
  }
}

.flow__step {
  display: grid;
  grid-template-columns: max-content 1fr;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  @include mq('md') {
    box-shadow: 0 5.241px 5.241px 0 rgba(0, 0, 0, 0.25);
    border-radius: 26.204px;
  }
}

.flow__step-num {
  border-radius: 20px 0 0 20px;
  background: var(--main-blue);
  padding: rem(10) rem(19);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mq('md') {
    border-radius: 26.204px 0 0 26.204px;
    padding: rem(10) rem(41.38) rem(10) rem(45.97);
  }
}

.flow__step-label {
  font-family: var(--font-family-third);
  text-align: center;
  font-size: rem(16);
  font-weight: var(--font-weight-semibold);
  letter-spacing: calc(1.605 / 16 * 1em);
  @include mq('md') {
    font-size: rem(21);
    letter-spacing: calc(2.103 / 21 * 1em);
  }
}

.flow__step-count {
  font-family: var(--font-family-third);
  text-align: center;
  font-size: rem(40);
  font-weight: var(--font-weight-semibold);
  line-height: 1.08355;
  letter-spacing: calc(1.605 / 40 * 1em);
  @include mq('md') {
    font-size: rem(53);
    line-height: 1;
    letter-spacing: calc(2 / 53 * 1em);
  }
}

.flow__step-body {
  padding: rem(21) rem(24) rem(21) rem(22);
  background-color: var(--white);
  border-radius: 0 20px 20px 0;
  @include mq('md') {
    border-radius: 0 26.204px 26.204px 0;
    padding: rem(28) rem(96) rem(29.51) rem(36);
  }
}

.flow__step-title {
  font-size: rem(19);
  font-weight: var(--font-weight-semibold);
  line-height: 1.52632;
  letter-spacing: calc(0.5 / 19 * 1em);
  @include mq('md') {
    font-size: rem(25);
    line-height: 1.51984;
    letter-spacing: calc(1 / 25 * 1em);
  }
}

.flow__step-text {
  font-size: rem(14);
  font-weight: var(--font-weight-regular);
  line-height: 1.57143;
  letter-spacing: calc(0.5 / 14 * 1em);
  margin-top: rem(5);
  @include mq('md') {
    font-size: rem(18);
    line-height: 1.55556;
    letter-spacing: calc(1 / 18 * 1em);
    margin-top: rem(6.4);
  }
}

.flow__note {
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  line-height: 1.75;
  letter-spacing: calc(0.5 / 12 * 1em);
  margin-top: rem(15);
  @include mq('md') {
    font-size: 16px;
    line-height: 1;
    letter-spacing: calc(0.655 / 16 * 1em);
    margin-top: rem(34);
  }
}

.flow__link-wrap {
  margin-top: rem(60);
  text-align: center;
  @include mq('md') {
    margin-top: rem(87);
  }
}