@use "global" as *;

.fv {
  background-color: var(--main-blue);
  padding-block: clamp(30px, calc((#{"50 * 100"} / var(--cq-ref-mobile) * 1cqw)), 100px) clamp(33px, calc((#{"53 * 100"} / var(--cq-ref-mobile) * 1cqw)), 103px);
  margin-top: rem(75);
  container-type: inline-size;

  @include mq('md') {
    margin-top: rem(95);
    padding-block: clamp(19px, calc((#{"19 * 100"} / var(--cq-ref) * 1cqw)), 50px) clamp(40px, calc((#{"78 * 100"} / var(--cq-ref) * 1cqw)), 100px);
  }
}

.fv__inner {
  @media (max-width: 767px) {
    padding-inline: calc((#{"17 * 100"} / var(--cq-ref-mobile) * 1cqw));
  }
}

.fv__content {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  @include mq('md') {
    justify-content: center;
    margin-top: calc((#{"20 * 100"} / var(--cq-ref) * 1cqw));
  }
}

.fv__img-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 100%;

  @include mq('md') {
    width: 21.37%;
  }
}

.fv__img-wrap-title {
  width: 70.5%;
  @include mq('md') {
  width: 100%;
  }
}

.fv__img-wrap-character {
  margin-top: calc((#{"-30 * 100"} / var(--cq-ref-mobile) * 1cqw));
width: 74.8%;
  @include mq('md') {
    margin-top: calc((#{"-38 * 100"} / var(--cq-ref) * 1cqw));
    width: 100%;
  }
}

.fv__img-title,
.fv__img-character {
  height: auto;
  object-fit: contain;
}

.fv__kicker-pc {
  display: none;
  @include mq('md') {
    display: block;
    color: #5C9CC8;
text-align: center;
font-family: var(--font-family-third);
font-size: calc((#{"85.83 * 100"} / var(--cq-ref) * 1cqw));
font-weight: var(--font-weight-semibold);
line-height: 1.06553; /* 106.553% */
letter-spacing: calc(1.407 / 85.83 * 1em);
  }
}
.fv__kicker {
  color: #EE8A43;
  font-size: calc((#{"17 * 100"} / var(--cq-ref-mobile) * 1cqw));
  font-weight: var(--font-weight-semibold);
  line-height: 1.58824;
  letter-spacing: calc(1 / 17 * 1em);
  margin-top: calc((#{"31 * 100"} / var(--cq-ref-mobile) * 1cqw));

  @include mq('md') {
display: none;
  }
}

.fv__content-text-wrap {
  display: flex;
  flex-direction: column;
  @media (max-width: 767px) {
    align-items: center;
  }
  @include mq('md') {
    margin-left: calc((#{"18 * 100"} / var(--cq-ref) * 1cqw));
  }
}

.fv__heading {
  color: var(--white);
  font-size: calc((#{"28 * 100"} / var(--cq-ref-mobile) * 1cqw));
  font-family: var(--font-family-fourth);
  font-weight: var(--font-weight-semibold);
  line-height: 1.32143;
  margin-top: calc((#{"19 * 100"} / var(--cq-ref-mobile) * 1cqw));

  @include mq('md') {
    display: none;
  }
}

.fv__lead {
  color: var(--white);
  font-size: calc((#{"17 * 100"} / var(--cq-ref-mobile) * 1cqw));
  font-family: var(--font-family-fourth);
  font-weight: var(--font-weight-normal);
  line-height: 1.88235;
  letter-spacing: calc(0.5 / 17 * 1em);
  @media (max-width: 767px) {
    text-align: center;
    margin-top: calc((#{"15 * 100"} / var(--cq-ref-mobile) * 1cqw));
  }
  @include mq('md') {
    font-size: calc((#{"34 * 100"} / var(--cq-ref) * 1cqw));
    font-weight: var(--font-weight-semibold);
    line-height: 1.5;
  }
}

.fv__link-wrap {
  margin-top: calc((#{"35 * 100"} / var(--cq-ref-mobile) * 1cqw));

  @include mq('md') {
    margin-top: calc((#{"40 * 100"} / var(--cq-ref) * 1cqw));
  }
}

.fv__link-register-wrap {
  text-align: center;
margin-top: calc((#{"31 * 100"} / var(--cq-ref) * 1cqw));
  @media (max-width: 767px) {
  display: none;
  }
}

.fv__link-register {
  text-align: center;
  font-size: calc((#{"20 * 100"} / var(--cq-ref) * 1cqw));
  font-weight: var(--font-weight-semibold);
  line-height: 1.6;
  letter-spacing: calc(0.6 / 20 * 1em);
  padding: calc((#{"16 * 100"} / var(--cq-ref) * 1cqw)) calc((#{"138 * 100"} / var(--cq-ref) * 1cqw));
  border-radius: calc(infinity * 1px);
background: var(--main-orange);
box-shadow: 0 4.444px 4.444px 0 rgba(0, 0, 0, 0.25);
transition: box-shadow var(--duration-base) ease, transform var(--duration-base) ease;
@media (any-hover: hover) {
  &:hover {
    box-shadow: none;
    transform: translateY(4.444px);
  }
}
}