@use "global"as *;

.goods {
  padding-block: rem(100) rem(87);
  background: var(--bg-pink);
  container-type: inline-size;

  @include mq('md') {
    padding-block: rem(103) rem(106);
  }
}

.goods__badge-img {
  height: auto;
  object-fit: contain;
}

.goods__inner {
  padding: 0;
  max-width: 100%;
}

.goods__header {
  position: relative;
  padding-inline: rem(15);

  @include mq('md') {
    max-width: rem(1200);
    margin-inline: auto;
  }
}

.goods__badge {
  position: absolute;
  top: 55.5%;
  translate: 0 -50%;
  width: rem(205);
  @include mq('md') {
    width: rem(241);
    top: 56%;
  }
}

.goods__badge.goods__badge--pc {
  right: 0;

  @media (max-width: 767px) {
    display: none;
  }

  @media (max-width: 1250px) {
    right: rem(15);
  }
}

.goods__badge.goods__badge--sp {
  left: 50%;
  translate: -50% -50%;
  @include mq('md') {
  display: none;
  }
}

.goods__badge-img {
  height: auto;
  object-fit: contain;
}


.goods__subtitle {
  margin-top: rem(26);
  text-align: center;
  font-family: var(--font-family-fourth);
  font-size: 19px;
  font-weight: var(--font-weight-semibold);
  line-height: 1.57895;
  letter-spacing: calc(0.5 / 19 * 1em);

  @include mq('md') {
    font-size: rem(31);
    line-height: 1.6129;
    letter-spacing: calc(1 / 31 * 1em);
    margin-top: rem(41);
  }
}

.goods__description {
  margin-top: rem(19);
  font-family: var(--font-family-fourth);
  font-size: 15px;
  font-weight: var(--font-weight-normal);
  line-height: 1.93333;
  letter-spacing: calc(1 / 15 * 1em);

  @media (max-width: 767px) {
    width: fit-content;
    margin-inline: auto;
  }

  @include mq('md') {
    margin-top: rem(20);
    font-size: rem(18);
    line-height: 1.88889;
    letter-spacing: calc(1 / 18 * 1em);
    text-align: center;
  }
}


.goods__loop-wrap {
  margin-top: rem(25);
  display: flex;
  flex-direction: column;
  gap: rem(120);

  @media (max-width: 767px) {
    position: relative;
  }

  @include mq('md') {
    gap: rem(20);
    margin-top: rem(60);
  }
}

.goods__loop {
  overflow: hidden;
}

.goods__loop-list {
  display: flex;
  align-items: center;
  gap: rem(30);
  width: max-content;
  will-change: transform;
  animation: goods-loop 80s linear infinite;

  @include mq('md') {
    gap: calc((#{"50 * 100"} / var(--cq-ref) * 1cqw));
    animation: goods-loop 200s linear infinite;
  }
}

.goods__loop--rtl .goods__loop-list {
  animation-direction: normal;
}

.goods__loop--ltr .goods__loop-list {
  animation-direction: reverse;
}

@keyframes goods-loop {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.goods__loop-item {
  flex-shrink: 0;
  width: auto;
}

.goods__loop-item--01 {
  width:min(calc((#{"144 * 100"} / var(--cq-ref-mobile) * 1cqw)), 174px);

  @include mq('md') {
    width: max(calc((#{"174 * 100"} / var(--cq-ref) * 1cqw)), 144px);
  }
}

.goods__loop-item--02 {
  width: min(calc((#{"216 * 100"} / var(--cq-ref-mobile) * 1cqw)), 246px);

  @include mq('md') {
    width: max(calc((#{"246 * 100"} / var(--cq-ref) * 1cqw)), 216px);
  }
}

.goods__loop-item--03 {
  width: min(calc((#{"183 * 100"} / var(--cq-ref-mobile) * 1cqw)), 213px);

  @include mq('md') {
    width: max(calc((#{"213 * 100"} / var(--cq-ref) * 1cqw)), 183px);
  }
}

.goods__loop-item--04 {
  width: min(calc((#{"119 * 100"} / var(--cq-ref-mobile) * 1cqw)), 149px);

  @include mq('md') {
    width: max(calc((#{"149 * 100"} / var(--cq-ref) * 1cqw)), 119px);
  }
}

.goods__loop-item--05 {
  width: min(calc((#{"215 * 100"} / var(--cq-ref-mobile) * 1cqw)), 245px);

  @include mq('md') {
    width: max(calc((#{"245 * 100"} / var(--cq-ref) * 1cqw)), 215px);
  }
}

.goods__loop-item--06 {
  width: min(calc((#{"162 * 100"} / var(--cq-ref-mobile) * 1cqw)), 192px);

  @include mq('md') {
    width: max(calc((#{"192 * 100"} / var(--cq-ref) * 1cqw)), 162px);
  }
}

.goods__loop-img {
  width: 100%; // ← A方式では必須（li幅に追従）
  height: auto;
  display: block;
  object-fit: contain;
}


.goods__link-wrap {
  margin-top: rem(40);
  display: flex;
  justify-content: center;

  @include mq('md') {
    margin-top: rem(50);
  }
}