@use "global"as *;

.question {
  padding-bottom: rem(68);
  background-color: var(--main-white);

  @include mq('md') {
    padding-bottom: rem(82);
  }
}

.question__title-wrap {
  text-align: center;

  @include mq('md') {
    display: flex;
    align-items: center;
    gap: rem(30);
  }
}

.question__title {
  font-family: var(--font-family-third);
  font-size: rem(29);
  font-weight: var(--font-weight-semibold);
  line-height: 1.89655;
  letter-spacing: calc(2 / 29 * 1em);

  @include mq('md') {
    font-size: rem(35);
    line-height: 1.57143;
    letter-spacing: calc(2 / 35 * 1em);
  }
}

.question__title-en {
  display: inline-block;
}

.question__subtitle {
  margin-top: rem(2);
  font-size: rem(15);
  font-family: var(--font-family-fourth);
  font-weight: var(--font-weight-semibold);
  line-height: 1.26667;
  letter-spacing: calc(1 / 15 * 1em);

  @include mq('md') {
    margin-top: 0;
    font-size: rem(20);
    line-height: 2.06597;
    letter-spacing: calc(0.826 / 20 * 1em);
  }
}

.question__items {
  margin-top: rem(30);
  display: flex;
  flex-direction: column;
  gap: rem(25);

  @include mq('md') {
    margin-top: rem(25);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(45);
    align-items: stretch;
  }
}

.question__item {
  background-color: var(--bg-gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: rem(22);
  padding: rem(31) rem(28);

  @include mq('md') {
    width: 100%;
    height: 100%;
    padding: rem(30);
    gap: rem(20);
  }
}

.question__q {
  background-color: var(--main-white);
  border-radius: 20px;
  padding: rem(15) rem(10);
  min-height: rem(76);
  display: flex;
  align-items: center;
  justify-content: center;
}

.question__q-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(15);
}

.question__q-icon {
  flex-shrink: 0;
  width: rem(28);
  font-family: var(--font-family-third);
  font-size: rem(40);
  font-weight: var(--font-weight-semibold);
  line-height: 0.72514;
  letter-spacing: calc(0.631 / 40 * 1em);
  text-align: center;
}

.question__q-text {
  font-size: rem(16);
  font-family: var(--font-family-fourth);
  font-weight: var(--font-weight-semibold);
  line-height: 1.4375;
  letter-spacing: calc(1 / 16 * 1em);
}

.question__a-text {
  font-size: rem(15);
  font-family: var(--font-family-second);
  font-weight: var(--font-weight-normal);
  line-height: 1.93333;
  letter-spacing: calc(1 / 15 * 1em);
}

.question__link-wrap {
  margin-top: rem(45);
  display: flex;
  justify-content: center;

  @include mq('md') {
    margin-top: rem(70);
  }
}