@use "global" as *;

.top-artist {
  background-color: var(--bg-beige);
padding-block: rem(70) rem(68);
container-type: inline-size;
  @include mq('md') {
    padding-block: rem(111);
  }
}

.top-artist__subtitle {
  text-align: center;
  font-size: rem(19);
  font-family: var(--font-family-fourth);
  font-weight: var(--font-weight-semibold);
  line-height: 1.57895;
  letter-spacing: calc(0.5 / 19 * 1em);
  margin-top: rem(30);
  @include mq('md') {
    font-size: rem(31);
    line-height: 1.6129;
    letter-spacing: calc(1 / 31 * 1em);
    margin-top: rem(40);
  }
}

.top-artist__swiper-container {
  width: 100%;
  margin-top: rem(24);
  position: relative;
  @include mq('md') {
    margin-top: rem(30);
  }
}

.top-artist__swiper {
  width: 100%;
  transition: transform 0.6s var(--ease-out) 0.45s, opacity 0.3s linear 0.45s;
  &[aria-hidden="true"] {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: transform 0.6s var(--ease-out), opacity 0.3s linear;
  }
  &[aria-hidden="false"] {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: relative;
    z-index: 2;
    transition: transform 0.6s var(--ease-out) 0.45s, opacity 0.3s linear 0.45s;
  }
}

.top-artist__swiper .swiper-wrapper {
  align-items: stretch;
}

.top-artist__slide {
  height: auto;
  display: flex;
  flex-direction: column;
}

.top-artist-card {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  transition: opacity var(--duration-base) ease;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.7;
    }
    &:hover .top-artist-card__img{
      transform: scale(1.05);
    }
  }
}

.top-artist-card__img-wrap {
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  @include mq('md') {
    border-radius: 21.86px;
  }
}

.top-artist-card__img {
  border-radius: 20px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform var(--duration-base) ease-in-out;
  will-change: transform;
  @include mq('md') {
    border-radius: 21.86px;
  }
}

.top-artist-card__body {
  margin-top: rem(30);
  display: flex;
  flex-direction: column;
  min-height: 0;
  transition: opacity var(--duration-long) ease-in-out;
  will-change: opacity;
  @media (max-width: 767px) {
    opacity: 0;
  }
}

@media (max-width: 767px) {
.top-artist__slide.swiper-slide-active .top-artist-card__body,
.top-artist__slide.swiper-slide-duplicate-active .top-artist-card__body {
  opacity: 1;
}

.top-artist__slide.swiper-slide-active .top-artist-card__body {
  opacity: 1;
  transition: opacity var(--duration-long) ease-in-out;
}

}

.top-artist-card__name {
  text-align: center;
  font-family: var(--font-family-fourth);
  font-size: rem(20);
  font-weight: var(--font-weight-semibold);
  line-height: 1;
  letter-spacing: calc(1 / 20 * 1em);
  @include mq('md') {
    font-size: rem(22);
  }
}

.top-artist-card__meta {
  text-align: center;
  font-size: rem(12);
  font-weight: var(--font-weight-regular);
  line-height: 1.83333;
  letter-spacing: calc(1 / 12 * 1em);
  margin-top: rem(18);
  @include mq('md') {
  margin-top: rem(12);
  }
}

.top-artist__loop-swiper {
  margin-top: rem(38);
  @include mq('md') {
    margin-top: rem(55);
  }
}

.top-artist__loop-swiper .top-artist__loop-slides {
  transition-timing-function: linear;
}

.top-artist__loop-slide {
  height: 100%;
  border-radius: 10px;
  & img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: 100%;
    border-radius: 10px;
  }
}

.top-artist__link-wrap {
  margin-top: rem(39);
  display: flex;
  justify-content: center;
  @include mq('md') {
    margin-top: rem(83);
  }
}

.top-artist__swiper .top-artist__swiper-button-prev,
.top-artist__swiper .top-artist__swiper-button-next{
  width: clamp(50px, calc((#{"72 * 100"} / var(--cq-ref) * 1cqw)), 72px);
  top: 48%;
  transform: translateY(-50%);
  position: absolute;
  @media (max-width: 767px) {
  display: none;
  }
  @media (min-width: 2000px) {
  top: calc((#{"150 * 100"} / var(--cq-ref) * 1cqw));
  }
  img{
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }
  &::after{
    display: none;
  }
}
.top-artist__swiper .top-artist__swiper-button-prev{
  right: rem(100);
  left: auto;
  @media (min-width: 1250px) {
    right: calc((#{"32 * 100"} / var(--cq-ref) * 1cqw));
  }
}
.top-artist__swiper .top-artist__swiper-button-next{
  left: rem(100);
  right: auto;
  @media (min-width: 1250px) {
    left: calc((#{"32 * 100"} / var(--cq-ref) * 1cqw));
  }
}

.top-artist__category-list-wrap {
  overflow-x: auto;
  scrollbar-width: none;
  margin-top: rem(24);
  padding-bottom: rem(10);
  @include mq('md') {
    margin-top: rem(44);
    padding-bottom: rem(20);
  }
}

.top-artist__category-list {
  display: inline-flex;
  justify-content: center;
  gap: rem(26);
  min-width: 100%;
  padding-inline: rem(20);
  @include mq('md') {
    gap: rem(42);
    padding-inline: rem(40);
  }
}


.top-artist__category-link {
  font-family: var(--font-family-third);
  font-size: rem(15);
  font-weight: var(--font-weight-semibold);
  line-height: 1.8;
  letter-spacing: calc(2 / 15 * 1em);
  text-align: center;
  color: rgba(168, 153, 41, 0.40);
  transition: color var(--duration-base) ease;
  white-space: nowrap;
  cursor: pointer;
  @include mq('md') {
    font-size: rem(28);
    line-height: 1.96429;
    letter-spacing: calc(3 / 28 * 1em);
  }
  @media (any-hover: hover) {
    &:hover {
      color: var(--main-blue);
    }
  }
  &.is-active {
    color: var(--main-blue);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: rem(-6);
      left: 50%;
      transform: translateX(-50%);
      width: rem(5);
      aspect-ratio: 1 / 1;
      background-color: var(--main-blue);
      border-radius: calc(infinity * 1px);
      @include mq('md') {
        width: rem(8);
      }
    }
  }
}